.header {
    width: 1440px;
    height: 79px;
    left: 0px;
    top: 0px;
}

.inicio {
    position: absolute;
    width: 56px;
    height: 24px;
    left: 812px;
    top: 34px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;

    color: #F7A7A7;
}

.tienda {
    position: absolute;
    width: 56px;
    height: 24px;
    left: 935px;
    top: 34px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;

    color: #000000;
}

.acerca {
    position: absolute;
    width: 95px;
    height: 17px;
    left: 1037px;
    top: 34px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;

    color: #000000;
}

.logo {
    position: absolute;
    width: 204px;
    height: 54px;
    left: 59px;
    top: 19px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;

    color: #000000;
}